<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <h1>Socket.io Application</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div id="messages"></div>
                <form id="form" action="">
                    <input id="input" autocomplete="off" />
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <form id="userNameForm">
                    <input id="userName" autocomplete="off" />
                    <button>Set Username</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <label>Color: </label>
                <input type="color" id="colorInput" autocomplete="off" />
                <button id="colorButton" class="btn btn-primary">Set Color</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <label>Create Room: </label>
                <input type="text" id="createRoomInput" class="w-50 form-control mb-3" autocomplete="off">
                <button id="createRoomButton" class="btn btn-primary">Create Room</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <label>Message Room: </label>
                <input type="text" id="messageRoomInput" class="w-50 form-control mb-3" autocomplete="off">
                <button id="messageRoomButton" class="btn btn-primary">Message Room</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <label>Join Room: </label>
                <input type="text" id="joinRoomInput" class="w-50 form-control mb-3" autocomplete="off">
                <button id="joinRoomButton" class="btn btn-primary">Join Room</button>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        const form = document.querySelector('#form');
        const input = document.querySelector('#input');
        const messages = document.querySelector('#messages');

        const colorInput = document.querySelector('#colorInput');
        const colorButton = document.querySelector('#colorButton');

        const createRoomInput = document.querySelector('#createRoomInput');
        const createRoomButton = document.querySelector('#createRoomButton');

        const messageRoomInput = document.querySelector('#messageRoomInput');
        const messageRoomButton = document.querySelector('#messageRoomButton');

        const joinRoomInput = document.querySelector('#joinRoomInput');
        const joinRoomButton = document.querySelector('#joinRoomButton');

        colorButton.addEventListener('click', function() {
            if(colorInput.value) {
                socket.emit('setColor', colorInput.value);
                colorInput.value = '';
            }
        });

        joinRoomButton.addEventListener('click', function() {
            if(joinRoomInput.value) {
                socket.emit('joinRoom', joinRoomInput.value);
                joinRoomInput.value = '';
            }
        });

        messageRoomButton.addEventListener('click', function() {
            if(messageRoomInput.value) {
                socket.emit('messageRoom', messageRoomInput.value);
                messageRoomInput.value = '';
            }
        });

        createRoomButton.addEventListener('click', function() {
            if(createRoomInput.value) {
                socket.emit('createRoom', createRoomInput.value);
                createRoomInput.value = '';
            }
        });

        form.addEventListener('submit', (event) => {
            event.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });

        socket.on('chat message', (data) => {
            const item = document.createElement('div');
            item.innerHTML += `<div class='mb-3' style='color: ${data.textColor}'>${data.username} said ${data.message}`
            messages.appendChild(item);
        });       

        socket.on("roomCreated", (data) => {
            messages.innerHTML += `<div class='mb-3'>${data.username} created and joined ${data.room}`
        });
        
        socket.on("roomMessaged", (data) => {
            messages.innerHTML += `<div class='mb-3 bg-primary text-light'>${data.username}: ${data.message} </div>`
        });

        socket.on("userJoined", (data) => {
            messages.innerHTML += `<div class='mb-3 bg-primary text-light'>${data.username} has ${data.room}</div>`
        });


        let usernameForm = document.querySelector('#userNameForm');
        usernameForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const inputName = document.querySelector('#userName');
            const userName = inputName.value.trim();
            if (userName != '') {
                socket.emit('username', userName);
                inputName.value = '';
            }
        })
    </script>
</body>
</html>